body{
    background-color:beige;
}
/* 滿版圖片: 1180px 570px */
.answer_background{
    background-image: url("./jackson.jpeg");
    background-size: 500px 580px;
    background-repeat: no-repeat;
}
.center{
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
  }
.center_2{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

h3{
    color:blueviolet;
}

input {
    width: 50%;
    height: 30px;
    border-radius: 8px;
  }

button{
    height: 30px;
    border-radius: 8px;
}
